:root {
    --color-text: #757575;
    --color-logo: #2196F3;
    --color-background: #2F303A; 
    --color-grey21: #212121;
    --color-logohead: #000000;
    --color-whiteF5: #F5F4FA;
    --color-white: #FFFFFF;
    --color-footcontct: rgba(255%,255%,255%,60%);


}

ul {
    list-style-type: none;
}
.page-content {
    font-family: 'Roboto', sans-serif;
    color: var(--color-grey21);
}
/* LOGO and NAV*/
.logo {
    color: var(--color-logo);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.logo-header {
    color: var(--color-logohead);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.logo-footer {
    color: var(--color-white);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: bold;
}
.link {
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--color-grey21);
}
.link:hover, .link:focus {
    color: var(--color-logo);
    cursor: pointer;
}
.contact {
    color: var(--color-text);
    text-decoration: none;
    letter-spacing: 0.02em;
}
.contact:hover, .contact:focus {
    color: var(--color-logo);
    cursor: pointer;
}
/* FOOTER */
.footer {
    background-color: var(--color-background);
}
.footer-adress {
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-white);
    text-decoration: none;
    letter-spacing: 0.03em;
}
.footer-adress-contact:hover, .footer-adress-contact:focus {
    color: var(--color-logo);
}
.footer-adress-contact {
    font-size: 14px;
    line-height: 1.7;
    color: var(--color-footcontct);
    text-decoration: none;
    letter-spacing: 0.03em;
}
.footer-adress-map:link, .footer-adress-map:visited {
    color: var(--color-white);
    text-decoration: none;
}
.footer-adress-map:hover {
    color: var(--color-logo);
}
/* INDEX HERO */

.hero {
    background-color: var(--color-background);
}
.hero-header {
    font-size: 44px;
    line-height: 1.36;
    color: var(--color-white);
    font-weight: black;
    letter-spacing: 0.06em;
}
.hero-button {
    background-color: var(--color-logo);
    letter-spacing: 0.06em;
    font-weight: bold;
}
.hero-button:hover {
    cursor: pointer;
}
.hero-button-content {
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.87;
    color: var(--color-white)
}
/* INDEX EXAMPLE */
.example-header {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.03em;
}
.example-content {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--color-text);
}
/* INDEX WHAT WE DO */
.what-we-do-header {
    font-size: 36px;
    font-weight: bold;
}
/* INDEX TEAM */
.team {
    background-color: var(--color-whiteF5);
}
.team-header {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0.03em;
}
.team-name {
    font-size: 16px;
    font-weight: medium;
    letter-spacing: 0.03em;

}
.team-job {
    color: var(--color-text);
    font-size: 16px;
    letter-spacing: 0.03em;
}
/* PORTFOLIO FILTER BUTTONS */
.filter-button {
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    background-color: var(--color-whiteF5);
    color: var(--color-grey21);
}
.filter-button:hover {
    background-color: var(--color-logo);
    color: var(--color-white);
    cursor: pointer;
}
.filter-button:focus {
    background-color:var(--color-logo) ;
    color: var(--color-white);
}
/* PORTFOLIO CONTENT */
figcaption h3 {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    font-weight: bold;
    color: var(--color-grey21);
}
figcaption p {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03;
    color: var(--color-text);
}